.box-color{
    /* background-color:red  #333333*/
}
.custom-container{
    margin-top: -6.5%;
    margin-left: -4.9%;
}

.sTiles{
    position: relative;
    width: 31.33%;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px 5px 5px 5px;
    background-color: #6F98A8 ;
    float:left;
    font-size: large;
    text-align: center;
}
.sTiles_text{
    width: 100%;
    display: block;
    padding: 50px 0;
    font-size: 60px;
    color: white;
}
.btnsuff, .btnsort{
    width: 100%;
    background-color: #71c2db  ;
    padding: 8px 0px;
    outline: none;
    border:none;
    text-transform: uppercase;
    border-bottom: 4px solid #2a8dac !important;
}

div:nth-child(8) {
    background-color: #6F98A8 ;
  }
  .box-color div:nth-child(2) {
    background-color: #2B8EAD  ;
  }
  .box-color div:nth-child(3) {
    background-color: #2f454e  ;
  }
  .box-color div:nth-child(4) {
    background-color: #2B8EAD  ;
  }
  .box-color div:nth-child(5) {
    background-color: #2f454e  ;
  }
  div:nth-child(6) {
    background-color: #BFBFBF;
  }
  div:nth-child(7) {
    background-color: #BFBFBF;
  }
  .box-color div:nth-child(9) {
    background-color: #2f454e  ;
  }


  @media(max-width:600px)
  {
    .sTiles{
      width: 100%;
      background-color: #ddd !important;
      height: auto!important;
    }


    .sTiles > .sTiles_text{
      padding: 10px 0 !important;
      font-size: 32px;
      color: #333;
    }
    .sTiles:nth-child(2), .sTiles:nth-child(4)
    {
      border-left:4px solid #2B8EAD  ;
    } 

    .sTiles:nth-child(1), .sTiles:nth-child(8)
    {
      border-left:4px solid #6F98A8  ;
    } 
    .sTiles:nth-child(3), .sTiles:nth-child(5), .sTiles:nth-child(9)
    {
      border-left:4px solid #2f454e  ;
    } 

    .sTiles:nth-child(6), .sTiles:nth-child(7)
    {
      border-left:4px solid #BFBFBF!important  ;
    } 
  }